<div class="card-content table-responsive">
  <table class="table table-hover">
    <thead class="text-primary">
      <tr>
        <th>Sr no.</th>
        <th>SNF</th>
        <th>Fat</th>
        <th>SNF/Fat Rate</th>
      </tr>
    </thead>
    <tbody>
      <% for( let i = 0; i < user.length; i++ ) { %>
      <tr>
        <td><%=i+1 %></td>
        <td><%= user[i].SNF %></td>

        <td><%= user[i].fat %></td>
        <td><%= user[i].snffatmilkrate %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
