<%- include('layouts/DashHeader') %>


    <body>




        <div class="wrapper">



            <nav id="sidebar">

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="/Dash/admin" class="dashboard"><i
                                class="material-icons">dashboard</i><span>Dashboard</span></a>
                    </li>

                    <div class="small-screen navbar-display">



                        <li class="">
                            <a href="/Dash/admin/summary2"><i
                                    class="material-icons">library_books</i><span>summary</span></a>
                        </li>
                        <li class="">
                            <a href="/Dash/admin/entry"><i
                                    class="material-icons">library_books</i><span>entry</span></a>
                        </li>
                        <li class="">
                            <a href="/Dash/admin/customerdata"><i
                                    class="material-icons">manage_accounts</i><span>Customer
                                    Data</span></a>
                        </li>

                        <li class="">
                            <a href="/Dash/admin/milkmandata"><i class="material-icons">manage_accounts</i><span>Milkman
                                    Data</span></a>
                        </li>

                        <li class="">
                            <a href="/Dash/admin/customertrack"><i class="material-icons">analytics</i><span>Customer
                                    Track</span></a>
                        </li>

                        <li class="">
                            <a href="/Dash/admin/milkmantrack"><i class="material-icons">analytics</i><span>Milkman
                                    Track</span></a>
                        </li>

                        <li class="d-lg-none d-md-block d-xl-none d-sm-block">
                            <a href="/logout"><i class="material-icons">person</i><span>Sign Out</span></a>
                        </li>
                    </div>

                </ul>


            </nav>



            <!-- Page Content  -->
            <div id="content">

                <div class="top-navbar">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">

                            <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
                                <span class="material-icons">arrow_back_ios</span>
                            </button>

                            <a class="navbar-brand"> Admin Dashboard </a>

                            <button class="d-inline-block d-lg-none ml-auto more-button" type="button"
                                data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="material-icons">more_vert</span>
                            </button>

                            <div class="collapse navbar-collapse d-lg-block d-xl-block d-sm-none d-md-none d-none"
                                id="navbarSupportedContent">
                                <ul class="nav navbar-nav ml-auto">

                                    <li class="nav-item">
                                        <a href="/logout"><i class="material-icons">person</i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>


                <div class="main-content">
                   




                        <div class="accordion-item">
                            <h2 class="accordion-header text-center" id="headingOne">
                                <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    Set Milk Rate
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse show"
                                aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <form method="post" action="/api/milkrateUpdate/cow">

                                        <div class="form-group ">
                                            <label for="cowmilkrate">Cow MilkRate</label>
                                            <input type="number" class="form-control" id="cowmilkrate"
                                                placeholder="Cow MilkRate" name="todaymilkratecow" required>
                                        </div>


                                        <button type="submit" class="btn btn-outline-primary">Update</button>
                                    </form>
                                    <form method="post" action="/api/milkrateUpdate/buffalo">


                                        <div class="form-group ">
                                            <label for="buffalomilkrate">Buffalo MilkRate</label>
                                            <input type="number" class="form-control" id="buffalomilkrate"
                                                placeholder="Buffalo MilkRate" name="todaymilkratebuffalo" required>
                                        </div>

                                        <button type="submit" class="btn btn-outline-primary">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                  

                
        </div>
        </div>

        <%-include("layouts/homefooter") %>



            <script type="text/javascript">
                $(document).ready(function () {
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                        $('#content').toggleClass('active');
                    });

                    $('.more-button,.body-overlay').on('click', function () {
                        $('#sidebar,.body-overlay').toggleClass('show-nav');
                    });

                });

                function setInputDate(_id) {
                    var _dat = document.querySelector(_id);
                    var hoy = new Date(),
                        d = hoy.getDate(),
                        m = hoy.getMonth() + 1,
                        y = hoy.getFullYear(),
                        data;

                    if (d < 10) {
                        d = "0" + d;
                    };
                    if (m < 10) {
                        m = "0" + m;
                    };

                    data = y + "-" + m + "-" + d;
                    console.log(data);
                    _dat.value = data;
                };

                setInputDate("#milkdate");
                setInputDate("#custdate");





            </script>





    </body>

    </html>