<%- include("layouts/homeheader") %>
<body>
  <%- include("layouts/homenavbar") %>
  <div class="container">
    <div class="row custom-section d-flex align-items-center">
      <!-- <div class="col-12 col-lg-4">
             <h2>Make Dairy</h2>
                <h3>Process Simplified</h3>
                <h5>Keep Your  Dairy-Milk Reports Track Easy and Fast</h6> -->
      <!-- </div> -->
      <div class="col-12 col-lg-12">
        <img src="\image\cowmilkman.svg" alt="Team process banner" />
      </div>
    </div>
  </div>

  <%-include("layouts/homefooter") %>
</body>
