<%- include('layouts/DashHeader') %>

    <body>




        <div class="wrapper">


            <div class="body-overlay"></div>


            <!-- Sidebar  -->
            <nav id="sidebar">

                <ul class="list-unstyled components">
                    <li class="">
                        <a class="dashboard" href="/Dash/milkman"><i class="material-icons">dashboard</i><span>Milkman
                                Dashboard</span></a>
                    </li>

                    <div class="small-screen navbar-display">

                        <li class="active">
                            <a href="/Dash/milkman/snffatrate">
                                <i class="material-icons">library_books</i><span>SNF/Fat Rate</span></a>
                        </li>
                        <li class="">
                            <a href="mailto: abc@example.com">
                                <i class="material-icons">library_books</i><span>Report/Feedback</span></a>
                        </li>
                        <li class="d-lg-none d-md-block d-xl-none d-sm-block">
                            <a href="/logout"><i class="material-icons">person</i><span>Sign Out</span></a>
                        </li>
                    </div>

                </ul>


            </nav>



            <!-- Page Content  -->
            <div id="content">

                <div class="top-navbar">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">

                            <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
                                <span class="material-icons">arrow_back_ios</span>
                            </button>

                            <p class="navbar-brand"> Milkman Dashboard </p>

                            <button class="d-inline-block d-lg-none ml-auto more-button" type="button"
                                data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="material-icons">more_vert</span>
                            </button>

                            <div class="collapse navbar-collapse d-lg-block d-xl-block d-sm-none d-md-none d-none"
                                id="navbarSupportedContent">
                                <ul class="nav navbar-nav ml-auto">

                                    <li class="nav-item">
                                        <a href="/logout"><i class="material-icons">person</i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>


                <div class="main-content">






                    <div class=" row row-table table ">

                        <div class="card" style="min-height: 485px">
                            <div class="card-header card-header-text d-flex justify-content-between align-items-center">
                                <div>

                                    <h4 class="card-title">SNF/Fat</h4>
                                    <p class="category">Rate</p>
                                </div>

                                <button type="button" class="download "><i
                                        class="material-icons">arrow_downwards</i></button>
                            </div>
                            <%- include('layouts/milkmansnffatratetable') %>

                        </div>


                    </div>



                    <footer class="footer p-0">
                        <div class="container-fluid d-flex justify-content-center">

                            <div class="col-md-6 d-flex justify-content-center">
                                <div class="text-center d-flex align-items-center">

                                    <a href="mailto: abc@example.com">Contact Admin</a>
                                </div>
                                <p class="copyright "> &copy Fresh Fields
                                </p>
                            </div>
                            <!-- </div> -->
                        </div>
                    </footer>

                </div>



            </div>
        </div>



        </div>



        <%-include("layouts/homefooter") %>

     
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                        $('#content').toggleClass('active');
                    });

                    $('.more-button,.body-overlay').on('click', function () {
                        $('#sidebar,.body-overlay').toggleClass('show-nav');
                    });

                });





            </script>





    </body>

    </html>