<%- include('layouts/DashHeader') %>


    <body>




        <div class="wrapper">


            <div class="body-overlay"></div>


            <!-- Sidebar  -->
            <nav id="sidebar">

                <ul class="list-unstyled components">
                    <li class="">
                        <a href="/Dash/admin" class="dashboard"><i
                                class="material-icons">dashboard</i><span>Dashboard</span></a>
                    </li>

                    <div class="small-screen navbar-display">



                        <li class="active">
                            <a href="/Dash/admin/snffatratedata"><i
                                    class="material-icons">library_books</i><span>SNF/Fat Rate Track</span></a>
                        </li>

                        <li class="">
                            <a href="/Dash/admin/customerdata"><i
                                    class="material-icons">manage_accounts</i><span>Customer
                                    Data</span></a>
                        </li>
                        <li class="">
                            <a href="/Dash/admin/milkmandata"><i class="material-icons">manage_accounts</i><span>Milkman
                                    Data</span></a>
                        </li>
                        <li class="">
                            <a href="/Dash/admin/customertrack"><i class="material-icons">analytics</i><span>Customer
                                    Track</span></a>
                        </li>

                        <li class="">
                            <a href="/Dash/admin/milkmantrack"><i class="material-icons">analytics</i><span>Milkman
                                    Track</span></a>
                        </li>
                        <li class="d-lg-none d-md-block d-xl-none d-sm-block">
                            <a href="/logout"><i class="material-icons">person</i><span>Sign Out</span></a>
                        </li>
                    </div>

                </ul>


            </nav>



            <!-- Page Content  -->
            <div id="content">

                <div class="top-navbar">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">

                            <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
                                <span class="material-icons">arrow_back_ios</span>
                            </button>

                            <a class="navbar-brand"> Admin Dashboard </a>

                            <button class="d-inline-block d-lg-none ml-auto more-button" type="button"
                                data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="material-icons">more_vert</span>
                            </button>

                            <div class="collapse navbar-collapse d-lg-block d-xl-block d-sm-none d-md-none d-none"
                                id="navbarSupportedContent">
                                <ul class="nav navbar-nav ml-auto">

                                    <li class="nav-item">
                                        <a href="/logout"><i class="material-icons">person</i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>


                <div class="main-content">






                    <div class=" row row-table table ">

                        <div class="card" style="min-height: 485px">
                            <div class="d-flex justify-content-between ">
                                <div>

                                    <h4 class="card-title">SNF/Fat</h4>
                                    <p class="category">Rate</p>
                                </div>


                                <a href="http://localhost:3000/pdf/snffat.pdf" target="_blank"><button type="button"
                                        class="download "><i class="material-icons">arrow_downwards</i></button></a>
                            </div>


                            
                            <%- include('layouts/snffattable') %>

                        </div>

                    </div>



                </div>



            </div>
        </div>



        <%-include("layouts/homefooter") %>



            <script type="text/javascript">
                $(document).ready(function () {
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                        $('#content').toggleClass('active');
                    });

                    $('.more-button,.body-overlay').on('click', function () {
                        $('#sidebar,.body-overlay').toggleClass('show-nav');
                    });

                });




            </script>





    </body>

    </html>